<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.purchase.mapper.backtrack.BacktrackDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cl.purchase.model.backtrack.BacktrackDetail" >
    <id column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="backtrack_no" property="backtrackNo" jdbcType="VARCHAR" />
    <result column="backtrack_quality" property="backtrackQuality" jdbcType="SMALLINT" />
    <result column="storage_quality" property="storageQuality" jdbcType="SMALLINT" />
    <result column="storage_normal_quality" property="storageNormalQuality" jdbcType="SMALLINT" />
    <result column="storage_broken_quality" property="storageBrokenQuality" jdbcType="SMALLINT" />
    <result column="backtrack_price" property="backtrackPrice" jdbcType="DECIMAL" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_no, backtrack_no, backtrack_quality, storage_quality, storage_normal_quality, 
    storage_broken_quality, backtrack_price, create_person, create_date, update_person, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from p_backtrack_detail
    where product_no = #{productNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from p_backtrack_detail
    where product_no = #{productNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cl.purchase.model.backtrack.BacktrackDetail" >
    insert into p_backtrack_detail (product_no, backtrack_no, backtrack_quality, 
      storage_quality, storage_normal_quality, 
      storage_broken_quality, backtrack_price, 
      create_person, create_date, update_person, 
      update_date)
    values (#{productNo,jdbcType=VARCHAR}, #{backtrackNo,jdbcType=VARCHAR}, #{backtrackQuality,jdbcType=SMALLINT}, 
      #{storageQuality,jdbcType=SMALLINT}, #{storageNormalQuality,jdbcType=SMALLINT}, 
      #{storageBrokenQuality,jdbcType=SMALLINT}, #{backtrackPrice,jdbcType=DECIMAL}, 
      #{createPerson,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.purchase.model.backtrack.BacktrackDetail" >
    insert into p_backtrack_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="backtrackNo != null" >
        backtrack_no,
      </if>
      <if test="backtrackQuality != null" >
        backtrack_quality,
      </if>
      <if test="storageQuality != null" >
        storage_quality,
      </if>
      <if test="storageNormalQuality != null" >
        storage_normal_quality,
      </if>
      <if test="storageBrokenQuality != null" >
        storage_broken_quality,
      </if>
      <if test="backtrackPrice != null" >
        backtrack_price,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="backtrackNo != null" >
        #{backtrackNo,jdbcType=VARCHAR},
      </if>
      <if test="backtrackQuality != null" >
        #{backtrackQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageQuality != null" >
        #{storageQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageNormalQuality != null" >
        #{storageNormalQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageBrokenQuality != null" >
        #{storageBrokenQuality,jdbcType=SMALLINT},
      </if>
      <if test="backtrackPrice != null" >
        #{backtrackPrice,jdbcType=DECIMAL},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.purchase.model.backtrack.BacktrackDetail" >
    update p_backtrack_detail
    <set >
      <if test="backtrackNo != null" >
        backtrack_no = #{backtrackNo,jdbcType=VARCHAR},
      </if>
      <if test="backtrackQuality != null" >
        backtrack_quality = #{backtrackQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageQuality != null" >
        storage_quality = #{storageQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageNormalQuality != null" >
        storage_normal_quality = #{storageNormalQuality,jdbcType=SMALLINT},
      </if>
      <if test="storageBrokenQuality != null" >
        storage_broken_quality = #{storageBrokenQuality,jdbcType=SMALLINT},
      </if>
      <if test="backtrackPrice != null" >
        backtrack_price = #{backtrackPrice,jdbcType=DECIMAL},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_no = #{productNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.purchase.model.backtrack.BacktrackDetail" >
    update p_backtrack_detail
    set backtrack_no = #{backtrackNo,jdbcType=VARCHAR},
      backtrack_quality = #{backtrackQuality,jdbcType=SMALLINT},
      storage_quality = #{storageQuality,jdbcType=SMALLINT},
      storage_normal_quality = #{storageNormalQuality,jdbcType=SMALLINT},
      storage_broken_quality = #{storageBrokenQuality,jdbcType=SMALLINT},
      backtrack_price = #{backtrackPrice,jdbcType=DECIMAL},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where product_no = #{productNo,jdbcType=VARCHAR}
  </update>
</mapper>